/* making full page height section */
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth; /*smooth scroll*/
    font-family: 'Roboto';
    position: relative;
}

h1, h2,h3, h4 {
  font-family: 'Farsan';
}
h4{
  font-size: 1.6em;
}
h2{
  font-size: 3em;
}
h5{
  font-size: 1em;
}

/* section{ */
/* #indroduction {
    min-height: 100%;
    width: 100%;
    padding: 50px;
    position: relative;
} */
#skills {
  height: 880px;
}

#footer {
  position: relative;
  padding-top: 60px;
}

section {
  box-shadow: 0 4px 15px 0px grey;
}


/* Menu bar*/
#sidenav {
  width: 130px;
  position: fixed;
  top: 4.5em;
  right: 10px;
  background: #eee;
  border-radius: 20px;
}

#sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  border-radius: 20px;
}

#sidenav a:hover {
  background-color: #e3e0cc;
}

/* scrollspy */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #dbceb0;
}


/* FIRST SECTION - WELCOME PAGE */
#introduction{
    position: relative;
    background-image: url('./media/backgroundImageSection1.jpeg');
    z-index: 100;
    min-height: 100%;
    width: 100%;
    padding: 50px;
}

#introduction-header{
    animation: slide-up 2s;
    font-family: 'Yesteryear', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.content {
  text-align: center;
}

/*slide-up text */
@keyframes slide-up{
    from {
        padding-top: 500px;
        opacity: 1;
        line-height: 200px;
    }
    to {
        padding-top: 0;
        opacity: 1;
        line-height: 25px;
    }
}

/* Animation for introduction page (first page) */
.rotatingText{
    font-size: 18px;
    color: black;
    text-align: center;    
}

.rotatingText-adjective{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    left: 0;
    /* margin-left: 270px; */
    opacity: 0;
    position: absolute;
    color:black;
    right:0; 
}

.rotatingText-adjective:nth-of-type(1){
    animation-name: rotate;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    height: 10px;
    top: 9em;
}

.rotatingText-adjective:nth-of-type(2){
    animation-name: rotate;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    /* text-indent: 7em; */
    top: 12em;
}

.rotatingText-adjective:nth-of-type(3){
    animation-name: rotate;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    /* text-indent: 15em; */
    top: 15em;
}

@keyframes rotate{
    0% {
        opacity: 0;
    }
    
    /* 20%, 80% {
        opacity: 1;
    } */

    100% {
        opacity: 1;
    }
}



/* SECOND SECTION - ABOUT*/
.img-about{
    width: 200px;
}

.img-container{
    float: left;
    margin: 30px;
    padding: 5px;
    border: 1px solid black;
    background-color: #ddd;
}

section#about{
    background-color:#c5d5c5;
    z-index: 75;
    padding-bottom: 50px;
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 50px;
  margin-bottom: 30px;
}
.flex-image{
  padding-right: 30px;
}


.my-name {
    margin-top: 60px;
    font-weight: bold;
}

ul li{
    list-style: none;
    margin: 10px 10px 10px 0px;
}

ul{
    font-size: 17px;
    padding-left: 0;
}

span{
    font-size: 17px;
}

p{
    font-size: 20px;
    text-indent: 2em;
}


/* THIRD SECTION - TIMELINE */
#timeLine{
    background-image: url('./media/backgroundImageSection3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
#timeLine p {
  font-size: 1em;
}

body { background: #333; }

img { border: 0; max-width: 100%; }

/** timeline box structure **/
.timeline {
  list-style: none;
  padding: 20px 0 60px;
  position: relative;
  margin-bottom: 0;
}

.timeline:before {
  top: 4em;
  bottom: 5em;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}

.tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  margin-bottom: 25px;
  position: relative;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}


/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: lightyellow;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-left: -16px;
  border: 3px solid #90acc7;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 99999;
}


/** timeline content **/
.tl-heading h4 {
  margin: 0;
  color: #c25b4e;
}

.tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.tl-body > p + p {
  margin-top: 5px;
}

/** media queries **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }
}

@media (max-width: 700px) {
  .page-header h1 { font-size: 1.8em; }
  
  ul.timeline:before {
    left: 40px;
  }
  
  .tldate { width: 140px; }

  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0;

  }
  ul.timeline > li > .tldate {
    margin: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}


/* FOURTH SECTION - SKILLS */
#skills {
    background-color: #9fa9a3;
    padding-top: 0;
    /* z-index: 25; */
    padding-bottom: 0;
}

.fa-stack-large {
    font-size: 1.5em;
}

.fa-stack-medium {
    font-size: 1.1em;
}

.fa-stack-small {
    font-size: 0.6em;
}

i {
    vertical-align: middle;
}

.main-circle{
    width: 270px;
    height: 270px;
    background: #f0f0f0;
    border-radius: 50%;

    position: relative;
    font-size: 60px;
    margin: auto;
    margin-top: 4em; 
    font-weight: bold;   

    color: black;
    line-height: 270px;
    text-align: center;  
    font-family: 'Farsan'
}

.circle{
    position: absolute;
}

#circle-html{
    bottom: 3em;
    right: 4.5em;
}

#circle-css{
    bottom: 3em;
    left: 4.5em;
}

#circle-js{
    bottom: -4em;
    left: 0.27em;
}

#circle-boostrap{
    bottom: 4.5em;
    left: -1em;
}

#circle-git {
  bottom: 4.5em;
  right: -1em;
}

#circle-database{
    bottom: 1.5em;
    right: -2.5em;
}

#circle-react {
    bottom: 1.4em;
    left: -2.5em;
}

#circle-wordpress{
    bottom: -2.25em;
    left: 0.85em;
}

#circle-php {
    bottom: -1em;
    right: -2em;
}

#circle-nodejs {
    bottom: -1em;
    left: -2em;
}

/* @media only screen and (max-width: 900px) {
  .fa-stack-large {
    ... new styles
  }
} */


/* these styles get applied when the screen is less than 600px (phone) */
@media only screen and (max-width: 600px){
  .fa-stack-large {
    font-size: 1.1em;
  }
  .fa-stack-medium {
    font-size: 0.8em;
  }
  .fa-stack-small {
    font-size: 0.6em;
  }
  .main-circle {
    width: 170px;
    height: 170px;
    font-size: 35px;
    margin-top: 4em;
    line-height: 170px;
  }
  #circle-html {
    bottom: 3em;
    right: 4.5em;
  }
  #circle-css {
    bottom: 3em;
    left: 4.5em;
  }
  #circle-js {
    bottom: -4em;
    left: 0.4em;
  }
  #circle-bootstrap {
    bottom: 4.5em;
    left: -1em;
  }
  #circle-database {
    bottom: 1.5em;
    right: -2.5em;
  }
  #cirlce-react {
    bottom: 1.4em;
    left: -2.5em;
  }
  #circle-wordpress {
    bottom: -2.25em;
    left: 1em;
  }
  #circle-php {
    bottom: -1em;
    right: -2em;
  }
  #circle-nodejs {
    bottom: -1em;
    left: -2em;
  }

}


/* FIFTH SECTION - FOOTER */
#footer {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
  min-height: 50%;
}
#copyright {
  text-align: center;
  font-size: 15px;
  line-height: 30px;
}

.quote {
  font-size: 40px;
  text-align: center;
  font-family: 'Yesteryear'
}

.ocean { 
  height: 10%;
  width: 100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -190px;
  width: 5000px;
  height: 250px;
  animation: wave 10s cubic-bezier( 0.36, 0.30, 0.33, 0.33) infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}






